<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img style="overflow: hidden; height: 100px; width: 200%;" src="../../assets/Images/logo.png" alt="Logo"></a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-4 mb-lg-0" style="margin-left:20%">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/dashboard">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Acheter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">S'inscrire</a>
        </li>
      </ul>
      <div>
      <button type="button" class="d-flex btn btn-outline-warning" data-bs-toggle="modals" style="float: left;">
        <mat-icon>add_shopping_cart</mat-icon>Panier
      </button>
      <!-- Button trigger modal -->
      <button style="float: right; margin-left: 15px;" type="button" class="d-flex btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <mat-icon>lock</mat-icon> Connexion
      </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Se Connecter</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
                
                <div class="input-group">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input">
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with radio button">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Valider</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <mat-icon>add_shopping_cart</mat-icon> -->
      
    </div>
  </div>
</nav>