<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Acceui</a></li>
                    <li class="breadcrumb-item active">Valider panier</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Form s-->
                <div class="checkout-form">
                    <div class="row row-40">
                        <div class="col-12">
                            <h1 class="quick-title">Valider mon panier</h1>
                        
                        </div>
                        <div class="col-lg-7 mb--20">
                            <!-- Billing Address -->
                            <div id="billing-form" class="mb-40">
                                <h4 class="checkout-title">Adresse de livraison</h4>
                                <div class="row">
                                    <div class="col-md-6 col-12 mb--20">
                                        <label>Prenom*</label>
                                        <input type="text" placeholder="Prénom">
                                    </div>
                                    <div class="col-md-6 col-12 mb--20">
                                        <label>Nom*</label>
                                        <input type="text" placeholder="Nom">
                                    </div>
                                    <div class="col-12 col-12 mb--20">
                                        <label>Country*</label>
                                        <select class="nice-select">
                                            <option>France</option>
                                            <option>Belgique</option>
                                            <option>Suisse</option>
                                            <option>Espagne</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb--20">
                                        <label>Email*</label>
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-6 col-12 mb--20">
                                        <label>Telephone*</label>
                                        <input type="text" placeholder="Téléphone">
                                    </div>
                                    <div class="col-md-12 col-12 mb--20">
                                        <label>Ville*</label>
                                        <input type="text" placeholder="Ville">
                                    </div>
                                    <div class="col-12 mb--20">
                                        <label>Address*</label>
                                        <input type="text" placeholder="Adresse">
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <!-- Cart Total -->
                                <div class="col-12">
                                    <div class="checkout-cart-total">
                                        <h2 class="checkout-title">Votre commande</h2>
                                        <h4>Livre <span>Total</span></h4>
                                        <ul>
                                            <li><span class="left">Cillum dolore tortor nisl X 01</span> <span
                                                    class="right">25.00€</span></li>
                                            <li><span class="left">Auctor gravida pellentesque X 02 </span><span
                                                    class="right">50.00€</span></li>
                                            <li><span class="left">Condimentum posuere consectetur X 01</span>
                                                <span class="right">29.00€</span></li>
                                            <li><span class="left">Habitasse dictumst elementum X 01</span>
                                                <span class="right">10.00€</span></li>
                                        </ul>
                                        <p>Sous Total <span>104.00€</span></p>
                                        <p>Frais de livraison <span>00.00€</span></p>
                                        <h4>Total <span>104.00€</span></h4>
                                        <div class="term-block">
                                            <input type="checkbox" id="accept_terms2">
                                            <label for="accept_terms2">J'accepte les condition d'utilisation</label>
                                        </div>
                                        <button class="place-order w-100">Commander</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>