<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      

      
      <div class="list-group list-group-flush">
        <div class="sidebar-heading"><mat-icon>search</mat-icon> Recherche par prix </div>
        <!-- Formulaire de recherche par prix -->
        <form action="../dashboard/dashboard.component.ts" method="get">
          <div class="input-group mb-3">
            <div class="input-group-text">
              Min:
            </div>
            <input type="number" value="0" class="form-control" aria-label="Text input with checkbox">
          </div>
          
          <div class="input-group">
            <div class="input-group-text">
              Max:
            </div>
            <input type="number" value="700" class="form-control" aria-label="Text input with radio button">
          </div>
          <div class="input-group input-group-text" style="background: none; border: none;">
            <button type="submit" class="d-flex btn btn-outline-success" >
              <mat-icon>search</mat-icon> Recherche
            </button>
          </div>
        </form>
      </div>
      <hr>
      <div class="list-group list-group-flush" style="margin-top: 40px;">
        <div class="sidebar-heading"><mat-icon>check_circle</mat-icon>Nos Rayons </div>
        <!-- Fin Formulaire de recherche par prix -->
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Drame</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Romance</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Aventure</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Comics</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Action</a>
      </div>
    </div>
<!-- /#sidebar-wrapper -->