<!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <!-- <div>Recherche Par Prix <mat-progress-bar mode="determinate" value="40"></mat-progress-bar></div> -->

      <div class="sidebar-heading"><mat-icon>check_circle</mat-icon>Nos Rayons </div>
      <div class="list-group list-group-flush">
        <mat-progress-bar class="list-group-item list-group-item-action bg-light" mode="determinate" value="40" color="warn"></mat-progress-bar>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Drame</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Romance</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Aventure</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Comics</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><mat-icon>label_important</mat-icon>Action</a>
      </div>
    </div>
<!-- /#sidebar-wrapper -->