<div style="width: 60%; margin: 0 auto;" class="mb-3 mt-3"> 
  <form class="d-flex" style="margin-right: 45px;">
    <input class="form-control me-2" type="search" #box placeholder="Search" aria-label="Search" (keyup)="findSearch(box.value)">
    <button class="btn btn-outline-success" type="submit">Search Nom Livre</button>
  </form>
</div>

  <div *ngIf="!livre_search">
    <div class="row " fxFill fxLayout="column" fxLayoutAlign="space-between" >
      <div class="card col-sm-3" *ngFor="let livre of livre_trier">
        <div id="images"><img mat-card-image src="../../assets/Images/{{livre.image_url}}" alt="Photo" style="object-fit: cover; width: 17rem; max-height: 300px;max-width: 18rem;"></div>
        <mat-card-title style="text-align: center; margin-top: 20px;">{{livre.nom}}</mat-card-title>
      </div>
    </div>
    <mat-paginator [length]="livres?.length"
                      [pageSize]="size"
                      [pageIndex]="page"
                      [pageSizeOptions]="[4, 8, 12]"
                      (page)="getLivres($event)" style="background: #f2792a; color: black;">
    </mat-paginator>
  </div>
  <div *ngIf="livre_search">
    <div class="row container" fxFill fxLayout="column" fxLayoutAlign="space-between" >
      <div class="card" style="width: 18rem; height: 100%; margin: 15px;">
        <div id="images"><img mat-card-image src="../../assets/Images/{{livre_search.image_url}}" alt="Photo" style="object-fit: scale-down; width: 17rem; max-height: 250px;max-width: 18rem;"></div>
        <mat-card-title style="text-align: center; margin-top: 20px;">{{livre_search.nom}}</mat-card-title>
      </div>
    </div>
  </div>