#kiwi-mainmenu {
    margin: auto;
}

.mm-panels, .mm-panels > .mm-panel {
    position: relative!important;
}

#mm-kiwi-mainmenu .mm-panels {
    overflow-y: auto;
    height: 100%;
}

.mobile-kiwicat {
    display:none;
}

a.navbar-toggler {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a.navbar-toggler span {
    width: 100%;
}

a.navbar-toggler .navbar-toggler-name {
    font-size: 0.8rem;
}

#mm-menu-accordeon li a {
    display: block;
    line-height: 41px;
    margin: 0 15px;
}

#mm-menu-accordeon li ul li a {
    margin: 0 0 0 40px;
}

.mm-panels .nav-item a.nav-link {
    display: block;
    line-height: 41px;
    margin: 0 15px;
}

.mobile-kiwicat .rayon {
    margin-top: 12px;
    margin-bottom: 0;
    padding: 8px 8px;
}


@media (max-width: 991px) {

    .mobile-kiwicat {
        display:block;
    }
    .home_sidebar_area .col-lg-3.float-md-right{
        display:none;
    }
    .row_disable {
        display: flex!important;
    }

    .col-lg-3.float-md-right {
        order: 1;
    }
    .col-lg-9.float-md-right {
        order: 2;
    }

    .no-mobile {
        display: none;
    }
}

@media (max-width: 410px) {
    .productCart {
        font-size: 0.7rem;
    }
}

.h100 {
    height: 100%;
}

.h1, h1 {
    font-size: 2.0rem;
    color:#4c4236;
}

.h2, h2 {
    font-size: 1.4rem;
    color:#4c4236;
}

.h3, h3 {
    font-size: 1.55rem;
    color:#4c4236;
}

a {
    color:#a3c822;
}

a:hover {
    color:#4c4236;
}

.sidebar_main_content_area {

    min-height: 200px;
}

.mobilemenu{
    display: none;
}

@media (max-width: 991px) {
    .mobilemenu {
        display: flex;
        flex-direction: row-reverse;
    }

}

.mobilemenu ul {
    display: flex;
}

.mobilemenu ul li {
    margin: 15px 5px;
    border: 1px solid #e5e5e5;
    color: #000;
    cursor: pointer;
    text-align: center;
    position: relative;
    padding: 3px 2px 0 2px;
    min-width: 78px;
}

.mobilemenu ul li.kiwiuser span.count,
.mobilemenu ul li.cart_cart span.count {
    left: 17px;
    top: 0px;
}

.mobilemenu ul li a {
    color : #333333;
}

.mobilemenu ul li i {
    font-size: 1rem;
}

.cart_cart.kiwicart a{
    min-height: 65px;
}

.navbar-nav .navicon {
    height: 48px;
    position: relative;
}

@media (max-width: 990px) {
    .mobilemenu ul li i {
        font-size: 1.4rem;
    }

    .mobilemenu .navicon {
        height: 29px;
        position: relative;
    }

    .mobilemenu ul li.kiwiuser span.count, .mobilemenu ul li.cart_cart span.count {
        top: 0px;
        right: 0;
        left: unset;
    }
}

.slogan {
    display: block;
    font-weight: 500;
    padding-left: 77px;
    font-size: 1.08rem;
    margin-top: -10px;
}

@media (max-width: 767px) {

    .navbar-light .navbar-toggler {
        width: 12%;
    }

    .mobilemenu {
        width: 40%;
    }

    .navbar {
        justify-content: flex-start;
    }

    .navbar-brand {
        margin-right: 0;
        width: 48%;
        text-align: center;
    }

    .navbar-brand img{
        max-width: 74%;
    }

    .slogan {
        padding-left: 62px;
        font-size: 0.8rem;
    }
}

@media (max-width: 509px) {

    .slogan {
        padding-left: 50px;
        font-size: 0.7rem;
    }
}

@media (max-width: 506px) {

    .navbar-light .navbar-toggler {
        width: 62px;
    }

    .navbar-brand {
        width: 226px;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar-brand img {
        max-width: 100%!important;
    }

    .slogan {
        padding-left: 67px;
        font-size: 0.95rem;
    }

    .shop_header_area .navbar .navbar-brand {
        order:1;
    }

    .navbar-light .navbar-toggler {
        order: 2;
        float: left;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9999;
    }

    .mobilemenu {
        order: 4;
    }

    #navbarSupportedContent {
        order:3;
    }
}

.medias_call {
    background: rgba(255,255,255,0.8);
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    line-height: 45px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 15px;
}

.medias_call ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
    height: 45px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.medias_call ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
}

.medias_call span {
    display: inline-block;
    float: left;
    font-size: 1.1rem;
    padding-right: 30px;
}

@media (max-width:  767px) {
    .medias_call span {
        font-size: 0.85rem;
        padding-right: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
    }
}

.footer_copyright {
    padding: 28px 0px 10px 0;
    text-align: center;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #4c4236!important;
    border-color: #4c4236!important;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #e9ecef!important;
    border-color: #e9ecef!important;
}

.btn-primary.checkout_btn.disabled, .btn-primary.checkout_btn:disabled {
    background-color: #4c4236!important;
    border-color: #4c4236!important;
}



.logo-green-txt {
    color: #a0c63b;
}

.logo-marron-txt {
    padding-right: 4px;
    color: #4c4236;
}

.vdllink {
    color: #f79c07 !important;
}
.vdllink2 {
    color: #A0C63B !important;
}
.books_menu:before{
    content:'\f153';
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size:1.6rem;
    margin-bottom:-5px;
    vertical-align:baseline;
    line-height:1.8rem;
    color:#f79c07;
    margin-right:10px
}
.books_menu2:before{
    content:'\f02d';
    font-family:'FontAwesome';
    font-size:1.6rem;
    margin-bottom:-5px;
    vertical-align:baseline;
    line-height:1.8rem;
    color:#A0C63B;
    margin-right:10px
}

@media (max-width: 767px) {
    .main_slider_area {
        display: none!important;
    }
}

.btn.btn-primary.btn-snewletter {
    border-radius: 0;
    text-transform: uppercase;
    text-align: center !important;
    display: block;
    background: #a3c822;
    border: 1px solid #a3c822;
    font-weight: 600;
    line-height: 20px !important;
    padding: 12px 20px!important;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
}

.btn.btn-primary.btn-snewletter:hover {
    background: #333333;
    border: 1px solid #333333;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
}

.labeloffer {
    position: absolute;
    z-index: 1;
    top: 1px;
    padding: 2px 5px;
    font-weight: 600;
    margin: 2px;
}

.labeloffer.instock {
    background: #ffffff;
    color: #a3c822;
    border: 1px solid #a3c822;
}

.labeloffer.partner {
    background: #ffffff;
    color: #ff9900;
    border: 1px solid #ff9900;
}

.labelrightoffer {
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 0;
    padding: 2px 5px;
    font-weight: 600;
    margin: 2px;
}

.labelrightoffer.productoffer {
    right: 15px;
}

.labelrightoffer.price {
    border-radius: 0 0 0 100%;
    width: 75px;
    height: 56px;
    margin: -1px 0 0 0;
    background: #a3c822;
    color: #fff;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.labelrightoffer.list-point-value {
    background: #ffffff;
    border: 1px solid #a3c822;
    color: #4c4236;
}

.labelrightoffer.list-point-value a {
    color: #4c4236;
}

.labeloffer.lastadd {
    background: #ffffff;
    color: #ff9900;
    border: 1px solid #ff9900;
}

@media (max-width: 1200px) {
    .labeloffer.lastadd {
        width: 60px;
        line-height: 1;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .labelrightoffer.price {
        width: 75px;
        height: 50px;
    }
}

.labeloffer.compare {
    top: -3px;
}

.advanced_search_area {
    position: relative;
}

.advanced_search_area .searchby {
    position: absolute;
    z-index: 3;
    top: 3px;
    left: 10px;
    font-size: 0.75rem;
    cursor: pointer;
}

.advanced_search_area .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin: 14px 0 0 0px;
    text-align: left !important;
    padding-left: 16px;
    font-size: 0.95rem;
}

.advanced_search_area .bootstrap-select .dropdown-toggle {
    line-height: 44px;
    cursor: pointer;
}

.l_product_item .l_p_text ul {
    margin-top: -81px;
}

.l_product_item .l_p_text ul:hover {
    margin-top: -14px;
}

.l_p_img {
    /* min-height: 415px;*/
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 12px;
}

.l_product_item .l_p_text {
    border-top: none !important;
    padding: 12px !important;
}

.l_product_item {
    margin: 0 0 12px;
    position: relative;
}

.l_product_item .l_p_text h4 {
    padding: 16px 0 0 0 !important;
    font-size: 0.85rem;
}

@media (max-width: 767px) {

    .l_p_img {
        min-height: 242px;
    }

    .l_product_item .l_p_text ul {
        margin-top: -94px;
    }

    .l_product_item:hover .l_p_text ul,
    .l_product_item .l_p_text ul:hover {
        margin-top: -26px!important;
    }

    .l_product_item .l_p_text {
        height: 66px;
    }

    .l_p_text .add_cart_btn {
        padding: 10px 5px;
        font-size: 12px;
        line-height: 20px;
    }

    .l_product_item .l_p_text h4 {
        font-size: 0.75rem;
    }

}

@media (max-width: 575px) {
    .l_product_item {
        max-width: 100%;
        width: 100%;
    }

    .l_product_item .l_p_text ul {
        margin-top: -77px;
    }

    .l_product_item:hover .l_p_text ul,
    .l_product_item .l_p_text ul:hover {
        margin-top: -20px!important;
    }

    .medias_call {
        display: none;
    }
}

@media (max-width: 369px) {
    .l_product_item .l_p_text ul {
        margin-top: -109px;
    }

    .l_product_item:hover .l_p_text ul,
    .l_product_item .l_p_text ul:hover {
        margin-top: -28px !important;
    }

    .l_p_text .add_cart_btn {
        line-height: 16px;
    }
}

@media (max-width: 1199px) {
    .owl-item  .l_p_img_index {
        min-height: 318px;
    }
}

@media (max-width: 767px) {
    .owl-item  .l_p_img_index {
        min-height: 368px;
    }
}

@media (max-width: 575px) {
    .owl-item  .l_p_img_index {
        min-height: 398px;
    }
}

@media (max-width: 520px) {
    .owl-item  .l_p_img_index {
        min-height: 354px;
    }
}

@media (max-width: 480px) {
    .owl-item  .l_p_img_index {
        min-height: 318px;
    }
}

@media (max-width: 380px) {
    .owl-item  .l_p_img_index {
        min-height: 235px;
    }
}

@media (max-width: 320px) {
    .owl-item  .l_p_img_index {
        min-height: 195px;
    }
}


.l_product_item .l_p_text h5 {
    font-size: 0.7rem;
    padding: 5px;
}

.l_product_card {
    padding: 0 6px;
    display: flex;
    /* margin: 10px; */
    margin-bottom: 12px;
}

img {
    max-width: 100%;
    height: auto!important;
}

.cartconfirm .fancybox-close-small {
    display: none;
}

.cartconfirm {
    display: none;
    max-width: 800px;
    padding:10px;
    overflow:hidden;
}

.cartconfirm-title-block {
    margin-bottom: 15px;
}

.cartconfirm .cartconfirm-title {
    font-size: 1.8rem;
    margin: 5px 0;
    color: #A3C822;
    display: block;
    width: 100%;
    text-align: center;
}

.cartconfirm-detail {
    display: flex;
    flex-direction: column;
}

.cartconfirm-line {
    line-height: 14px;
}

.cartconfirm-line.title {
    font-size: 1rem;
    margin: 20px 0;
    line-height: 20px;
}

.cartconfirm-line.state,
.cartconfirm-line.price {
    margin-bottom: 8px;
}

.cartconfirm-line.total {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
}

.cartconfirm .secondary {
    background: #A3C822;
    border-color: #A3C822;
    cursor: pointer;
    text-align: center;
}

.cartconfirm .btn-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.cartconfirm button  {
    cursor: pointer;
    margin: 15px 0;
}

.cartconfirm .secondary:hover {
    background: white;
    color: #A3C822;
}


@media (max-width: 767px) {
    .cartconfirm-line.total {
        position: relative;
    }

    .cartconfirm-line {
        line-height: 37px;
    }
}

.carousel_menu_inner .navbar .navbar-nav.justify-content-end li a {
    padding: 0;
    width: 110px;
}

.kiwiuser a {
    position: relative;
}

.kiwiuser span.count,
.cart_cart span.count {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    position: absolute;
    font-weight: normal;
    right: 30px;
    top: 25px;
    line-height: 20px;
}

.kiwiuser span.count {
    color: #fff;
    background: #ff9900;
}

.cart_cart span.count {
    color: #fff;
    background: #A3C822;
}

.user_txt,
.cart_txt {
    font-size: 0.8rem;
    line-height: normal;
    display: block;
    width: 100%;
    text-transform: capitalize;
    font-weight: 400;
}

.cart-state,
.cart-author {
    line-height: 18px;
}

/* BANNIERE */
.vl_left {
    font-family: "Poppins", sans-serif !important;
    background: #aec3c6;
    background: -moz-linear-gradient(top,  #aec3c6 0%, #7ba3a5 100%);
    background: -webkit-linear-gradient(top,  #aec3c6 0%,#7ba3a5 100%);
    background: linear-gradient(to bottom,  #aec3c6 0%,#7ba3a5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aec3c6', endColorstr='#7ba3a5',GradientType=0 );
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.vl_left img {
    max-width: 100%;
    height: auto;
}

.vl_left .vl_l_title {
    padding: 16px 0 0 0;
    color: #06408a;
    text-shadow: 0 1px 0 #bcd0da;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.vl_left .vl_l_title strong {
    font-weight: 700;
    color: #f79c07;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 42px;
    text-shadow: 0 1px 1px #bcd0da;
}

.vl_left .vl_visuel {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    padding: 20px 0;
}
.vl_left .vl_bottom {
    width: 100%;
    position: relative;
}
.vl_left .vl_bottom img {
    width: 100%;
}

.vl_left .btnn.btn_org.topside {
    font-size: 2rem !important;
    padding: 12px !important;
}

/*.vl_left .vl_bottom .btnn.btn_org {
    padding: 7px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: #fe9900;
    color: white;
    word-break: keep-all;
    max-width: 100%;
}*/



.vl_left .btnn.btn_org:after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    animation: sheen 3s forwards;
    animation-iteration-count: infinite;
    background: linear-gradient(to bottom, rgba(254, 153, 0, 0), rgba(255,255,255,0.4) 50%, rgba(254, 153, 0, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
}


.vl_left .btnn.btn_org {
    padding: 7px 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background: #fe9900;
    color: white;
    word-break: keep-all;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    min-width: 178px;
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}
@-webkit-keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

.book-description {
    height: 70px;
    overflow-y: hidden;
}

.book-description.open {
    height: auto;
    overflow-y: auto;
}

.toggle-desc {
    cursor:pointer;
    font-weight: 600;
}

.quantity .add_cart_btn {
    cursor: pointer;
}

.breadcrumb span {
    display: inline-block;
    padding: 5px;
}

.breadcrumb .step.current-step {
    color: #a3c822;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}

.breadcrumb .separator {
    font-size: 1.2rem;
}

.breadcrumb .step.ok-step {
    font-weight: 600;
}

.breadcrumb .step a{
    color:inherit;
}

.shopping_cart_area .cart_product_list {
    padding-right: 0;
}

.cart-summary .sstotal {
    /* display: inline-block; */
    /* text-align: right; */
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}

.cart-summary img.item {
    max-width: 80px;
    align-self: center;
}

.cart-summary .media {
    flex-wrap: wrap;
}

.cart-summary th.price {
    text-align: right!important;
    min-width: 89px;
}

.cart-summary td.price {
    text-align: right;
    min-width: 89px;
}

.cart-summary .sstotal {
    /*display: inline-block;
    text-align: right;
    width: 100%;*/
    display: flex;
    justify-content: flex-end;
}


.cart-summary .clabel,
.clabeldesc {
    text-align: right;
}

.cart-summary .totalcart {
    font-weight: 600;
    font-size: 1rem;
}

.cart-summary .cell-total {
    padding: 10px !important;
}

.cart-summary .freeshipping {
    color: red;
}

.cart-summary .price-points span {
    display: block;
    width: 100%;
}

.cart-summary .price-points #pointsselected {
    font-size: 0.8rem;
}

.cart-summary #kiwi-points-btn {
    cursor:pointer;
}

.codepromo-bk {
    text-align: left;
    width: 25%;
    margin: 20px 0;
}

@media (max-width: 1199px) {
    .codepromo-bk {
        width: 30%;
    }
}

@media (max-width: 991px) {
    .codepromo-bk {
        width: 40%;
    }
}

@media (max-width: 767px) {
    .codepromo-bk {
        width: 54%;
    }

    .cart_product_list .table tbody tr td .media .media-body h4 {
        white-space: normal;
    }
}

@media (max-width: 558px) {
    .codepromo-bk {
        width: 100%;
    }
}
@media (max-width: 430px) {
    .cart-summary .sstotal {
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 1rem;
    }
}

.codepromo-bk .display_promo {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
    color: #0a418d;
    text-decoration: underline;
    text-align: center;
}

.codepromo-bk .box_promo {
    display: none;
}

.codepromo-bk .box_promo-content {
    display: flex;
}

.codepromo-bk input.codepromo {
    padding: 10px 25px;
    width: calc(100% - 55px);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.codepromo-bk .promo_btn {
    background: #333333;
    border-color: #333333;
    color: #fff;
    width: 48px;
    height: 47px;
    margin: 0 6px;
    border-radius: 0;
}

.codepromo-bk .promo_btn:hover {
    cursor:pointer;
    border-color: #333333;
    background: #fff;
    color: #333333;
}

.checkout-nav {
    padding: 15px;
}

.checkout-nav .btn.btn-primary.checkout_btn {
    float: right;
}

.billing_inner select {
    width: 100%;
    color: #495057;
    border: 1px solid #ced4da;
    height: 38px;
    border-radius: .25rem;
}

.billing_inner input[type="radio"] {
    margin-left: 10px;
}

.payment-form .payment-line:nth-child(odd) {
    border: 1px solid #ced4da;
}
.pmnt-text,
.pmnt-choice {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.pmnt-choice {
    justify-content: flex-end;
}

.check-payment {
    cursor: pointer;
}

.shipping-address {
    border: 1px solid #000000;
    margin: 10px auto;
    padding-bottom: 12px;
    margin-top: 45px;
}

.rouge {
    color:#FF0000;
    font-weight:bold;
}

.vert {
    color:#A0C63B;


}

.vertG {
    color:#A0C63B;
    font-weight:bold;
}

.bloc_recherche {
    width:80%;
    height:120px;
    float:left;
    margin:20px 10px 10px 10px;
    background-color:#0069B4;
    padding:20px;
    font-size:14px;
    color:#FFFFFF;
    border-radius: 5px 5px 5px 5px;

}

.clear{clear:both;}


#email {
    width: 50%;
    height:40px;
    border:non;
    background: #FDFCFB;
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}


#submit {
    width: 15%;
    height: 40px;
    background: #FF9600;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    letter-spacing: 1px;
    border:none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: left;
    width: 100%;
}
#menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: left;
}
#menu-accordeon li {
    /* background-color:#A0C63B;*/

}
.cache {
    display: none;
}

.pas_cache {

    border-radius:0;
    background: #FFFFFF;
    box-shadow: none;
    border:none;
    margin:0
}

.menu_actif {
    max-height:0;
    overflow: hidden;
    transition: all .5s;
}



#menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #A0C63B;
    padding: 5px 0;
    font-size:1.2em
}

.menu_auteur {
    display:block;
    text-decoration: none;
    color: #FF9900!important;
    padding: 5px 0;
    font-size:1.2em
}

#menu-accordeon  li ul li a{
    color: #000000;

}

#menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:12px;
}


#menu-accordeon li:hover {
    /* background: #729EBF */
}
#menu-accordeon li li:hover {
    background: #F3F3F3;
}


#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border:none;
}
#menu-accordeon li:hover li {
    max-height: 15em;
}



.rayon{
    font-size:20px;
    padding-bottom: 15px;
}

.l_p_img_index {
    min-height: 415px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 12px;}


.portfolio_filter2 {
    text-align: left;
    padding-bottom: 40px;
    padding-left:20px;
    font-size:16px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    letter-spacing: .40px;
}

.product_details_area {
    padding-top: 15px;
}
.product_details_area h1 {
    font-size: 1.5rem;
    color: #4c4236;
    padding-bottom:20px;
}
.product_details_area h2 {
    font-size: 1.5rem;
    color: #4c4236;
    padding: 20px 0 20px 0;
}


@media (max-width: 768px) {
    .product_details_area h2 {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .product_details_area h2 {
        font-size: 1rem;
        text-align: center;
    }
}

a.view-offerlist {
    display: flex;
    margin-top: 2px;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 600;
}

#addtofavorite {
    cursor: pointer;
}

#addtofavorite,
.already-in-favorite {
    color: #fe9900;
    font-size: 1rem;
    font-weight: 600;
}

.check-carrier,
.carrier-radio {
    cursor: pointer;
}

.mondialrelay-bk {
    display: block;
}

#Img_Pays,
.mr-hidden {
    display: none;
}

#MondialRelay_Widget {
    overflow-y: auto;
}

.MR-Widget.fr-FR {
    margin: 0 auto;
}

.MR-Widget .MRW-Results {
    height: auto!important;
}

.mondialrelay-selectedaddress {
    display: none;
    border: 1px solid #000000;
    margin: 10px auto;
    padding-bottom: 12px;
}

.radio-error {
    font-size: 0.85rem;
    color: red;
    line-height: 16px;
    text-align: center;
}

.carrier-form .carrier-line:nth-child(odd) {
    border: 1px solid #ced4da;
}

.product_state {
    font-size:18px;
    font-weight: 500;
    color: #000000;
}

.price_promo_sticker_container {
    border-radius: 2px;
    background-color: #FE9900;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0 8px;
}
.small{
    font-size: 12px;
    font-weight: 600;
}

.big{
    font-size: 20px;
}

/*
 * Rating styles
 */
/*.rating {
    width: 120px;
    margin-top: 15px;
    font-size: 25px;
    overflow:hidden;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}



.rating3 {

    margin-top: 15px;
    font-size: 25px;
    color: orange;
}*/
.pr-review-panel {
    padding-top: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: hidden;
}

.col-lg-3.col-sm-12.pr-review-panel {
    padding-left: 0;
    padding-right: 0;
}

.pr-review-note,
.pr-review-reviews {
    text-align: center;
    font-size: 0.95rem;
}

.pr-note,
.pr-mnote {
    font-size: 1.5rem;
}

.pr-review-stars {
    text-align: center;
}

.stars-bkd {
    font-size: 1.3rem;
}

.pr-review-img {
    margin-top: 30px;
}

@media (max-width: 991px) {

    .pr-note,
    .pr-mnote {
        font-size: 1rem;
    }

    .stars-bkd {
        font-size: 1rem;
    }

    .pr-review-panel {
        /*display: flex;*/
        padding: 0;
        /*transform: scale(0.7);*/
        margin-top: -29px;
        margin-bottom: -78px;
    }

    .pr-review-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(2);
    }

    .pr-review-bottom {
        justify-content: center;
        display: flex;
    }

    .pr-review-img {
        margin: 0;
    }

    .crit-btn-bk {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .pr-review-panel {
        transform: scale(0.8);
        margin-top: -20px;
        margin-bottom: -60px;
    }

    .pr-review-top {
        transform: scale(1.5);
    }
}

.reviewproduct {
    display: none;
    max-width: 800px;
    padding: 10px;
    overflow: hidden;
}

.reviewproduct .fancybox-button.fancybox-close-small {
    top: -11px;
    right: -11px;
}

.reviewproduct-title-block {
    margin-bottom: 15px;
}

.reviewproduct .reviewproduct-title {
    font-size: 1.3rem;
    margin: 5px 0;
    color: #A3C822;
    display: block;
    width: 100%;
    text-align: center;
}

.reviewproduct .reviewproduct-title.subtitle {
    font-size: 0.85rem;
}

.stars-bk {
    font-size: 1.3rem;
    cursor: pointer;
}

.star-grey i {
    color: #cccccc;
}
.star-yellow i {
    color: orange;
}

#review-reponse-ok .check-ok,
#review-ok .check-ok {
    display: flex;
    justify-content: center;
    height: 150px;
    font-size: 7rem;
    margin: 0;
    color: #c3e6cb;
}

.reviewslist,
h2.psub {
    margin-top: 50px;
}

.reviewslist .header {
    align-items: center;
}

.reviewslist .review-product {
    height: 30px;
    padding: 0 10px;
    line-height: 1;
}

.reviewslist .review-product-a {
    line-height: 28px;
}

@media (max-width: 410px) {
    .reviewslist .review-product-a {
        width: 100%;
        white-space: normal;
        height: 45px;
        line-height: 1.5;
    }
}

.reviewslist .body {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;

}

.reviewslist .body.review-comment {
    border: 1px solid #a3c822;
    border-radius: 7px;
}

.reviewslist div.body:last-of-type {
    margin-bottom: 0;
}

.review-avatar {
    justify-content: center;
    display: flex;
}

.reviewslist .body .reviewstars {
    justify-content: flex-end;
    display: flex;
}

.reviewslist .body .reviewname {
    font-weight: 600;
    color:#000000;
    font-size: 1.05rem;
}

.reviewslist .body.review-comment .reviewname {
    font-size: 0.9rem;
}

.reviewslist .body.nocrit {
    justify-content: center;
}

.reviewslist .critique-like {
    border-top: 1px solid #ccc;
    margin-bottom: 30px;
}

.likeit {
    border: 1px solid #cccccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #4c4236;
    font-size: 1.1rem;
    padding:0 5px;
    transition: all 0.2s;
}

.likeit.likedreview,
.likeit:hover {
    border: 1px solid #007bff;
    color: #007bff;
    transition: all 0.2s;
}

.likedmembers {
    color: #fe9900;
}

.blink {
    color:#000000;
}

table.pmarketplace.center th, table.pmarketplace.center td {
    text-align: center;
    vertical-align: middle;
}

td.bold {
    font-weight: 600;
}

.btn-comparator {
    border-color: #000000;
    background: #262121;
}

.btn-comparator i {
    margin-left: 4px;
}

.offerprice {
    font-size:1rem;
    font-weight: 600;
    min-width: 100px;
}

.offerdesc {
    word-break: break-word;
}

.offerstate {
    min-width: 80px;
}

.pricetop {
    font-size:1.1rem;
    color:#a0c63b;
}

.productCartFromOffer,
.productExchangeFromOffer {
    line-height: 26px;
    cursor: pointer;
}

.productExchangeFromOffer {
    min-width: 180px;
}

@media (max-width: 450px) {

    table.pmarketplace .merchant {
        width: 82px;
    }

    .btn-comparator {
        width: 64px;
        white-space: normal;
        padding: 0;
    }

    .btn-comparator i {
        display: none;
    }
}

@media (max-width: 350px) {
    .viewmoffer {
        display: none;
    }

    .btn-comparator {
        width: 28px;
    }

    .btn-comparator i {
        display: block;
        font-size: 1.5rem;
    }
}

.btn-comparator:hover {
    border-color: #a3c822;
    background: #a3c822;
}

@media (max-width: 767px) {
    .pmarketplace th {
        font-size: 0.7rem;
    }

    .pmarketplace th,
    .pmarketplace td{
        padding: 0.75rem 0;
    }

    .pmarketplaceimg img {
        max-width: 60%;
    }

    .pmarketplace td a.btn-comparator {
        transform:scale(0.8);
    }
}

.mpsupmsg {
    font-size: 1rem;
    font-weight: 600;
    padding: 0 4px;
}

/*
.mpsupmsg {
    display: block;
    position: absolute;
    font-size: 1.1rem;
    text-transform: uppercase;
    left: 50%;
    padding: 15px;
    background-color: rgba(163, 200, 34, 0.35);
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    transform: translateX(-50%);
    color: #445310;
    text-shadow: 0 1px 2px #6a8215;
}*/


/*tr.mpsupmsg td {
    text-align: center;
    border-top: none;
}*/

/*tr.mpsup td:not(.pmarketplaceimg) {
    text-shadow: 0 0 7px #000;
    color: transparent;
}*/

/*tr.mpsup {
    position: relative;
}*/

/*tr.mpsup .pmarketplaceimg img {
    filter: blur(5px) opacity(0.7);
    -webkit-filter: blur(5px) opacity(0.7);
}
*/
/*tr.mpsup .btn-comparator {
    display: none;
}*/

.pprice-bk {
    margin-bottom: 15px;
}

.point-value {
    font-size: 0.9rem;
    color: #000000;
    font-weight: 600;
}

.product_details_text span.pprice {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
}

.alertfavorite,
.alertfavorite-label,
.close-fancybox {
    cursor: pointer;
}

.kiwi-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 6px;
}

.kiwi-filters label {
    height: 100%;
    padding: 0;
    margin: 0 5px 0 0;
}

.myavatar {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.review-comment .myavatar {
    width: 45px;
    height: 45px;
}

.myavatar .avatar {
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

.review-comment .myavatar .avatar {
    width: 45px;
    height: 45px;
    float: right;
}

.kiwiuser .myavatar {
    width: 40px;
    height: 40px;
    margin: 4px auto;
}

.kiwiuser .myavatar .avatar {
    width: 40px;
    height: 40px;
}

.myavatar.account {
    margin: 10px 15px 0 15px;
}

.youravatar .avatar {
    /* width: 100%;
     height: 100%;
     max-width: 200px;
     max-height: 200px;*/
    width: 170px;
    height: 170px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.avatar-hint {
    color: red;
    font-size: 0.75rem;
    font-style: italic;
}

@media (max-width: 990px) {
    .kiwiuser .myavatar {
        width: 29px;
        height: 29px;
        margin: 0 auto;
    }

    .kiwiuser .myavatar .avatar{
        width: 29px;
        height: 29px;
    }

}


/* PAGE MON COMPTE */
span.badge-mail {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    background:#f79c07;
    display: inline-block;
}
span.badge-green {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    background:#A3C822;
    display: inline-block;
}
span.badge-grey {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    background:#C0C0C0;
    display: inline-block;
}

.account-icon-fa {
    position: relative;
    height: 50px;
    width: 50px;
}

.bgfa::before {
    font-size: 3rem;
    /*color: #f79c07;*/
    color: #9DC33A;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bgfa.bgfa-disabled::before {
    color: #cccccc;
}


.bgfa {
    display: block!important;
}

.fa-count {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.card-content {
    width: calc(100% - 50px);
}

.card-content .card-title {
    margin-bottom: 0.4rem;
}

.account-heart .fa-count{
    top: 44%;
    transform: translateY(-44%);
}

.communaute-pseudo {
    font-size: 1rem;
}

.communaute-pseudo .pseudo-name {
    font-weight: 600;
}

.communaute-pseudo a{
    font-size: 13px;
}

.big-txt {
    font-size: 1.1rem;
}

/* PAGE MES COMMANDES */

.table.order-summary-detail thead tr th {
    border-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #e9ecf2;
    text-align: center;
}

.table.order-summary-detail tbody tr td {
    vertical-align: middle;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 28px 10px;
}

.order-summary-detail tbody tr td .media .d-flex {
    padding-right: 30px;
}

.order-summary-detail img.item {
    max-width: 80px;
    align-self: center;
}

.order-summary-detail tbody tr td .media .media-body h4 {
    font-size: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.order-summary-detail td.price {
    text-align: right;
    min-width: 89px;
}

tr.orderdetail {
    display: none;
}

.tracking-col {
    width:140px;
}

/* PAGE MESSAGERIE */

.unreadmsg {
    background:#a3c822!important;

}

.unreadmsg a,
.unreadmsg a:hover{
    color: #ffffff;
}

.msg-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.2rem;
}

.unreadmsg .newmsg-badge {
    display: block;
    background: #f79c07;
    color: #ffffff;
    width: 64px;
    padding: 0px 3px;
}

.card-subtitle .myavatar,
.card-subtitle .myavatar .avatar {
    margin: 0;
    width: 30px;
    height: 30px;
}

.answer-link {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* PAGE PROFIL */
.form-control.presentation {
    min-height: 250px;
}

/* PAGE MEMBRE */
.memberaction {
    display: block;
    font-size: 1rem;
}

#isfriend {
    color: #f79c07;
}

/* PAGE FAVORIS */
.table.favorites-summary thead tr th {
    border-top: 0px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #e9ecf2;
    /*text-align: center;*/
}

.table.favorites-summary tbody tr td {
    vertical-align: middle;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 28px 10px;
}

.favorites-summary tbody tr td .media .d-flex {
    padding-right: 30px;
}

.favorites-summary img.item {
    max-width: 80px;
    align-self: center;
}

.favorites-summary tbody tr td .media .media-body h4 {
    font-size: 14px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.favorites-summary td.price {
    /*text-align: right;
    min-width: 89px;*/
}

.favorites-summary .bavail {
    color:#a3c822;
}
.favorites-summary .bnotavail {
    color:red;
}

.favorites-summary .viewbook {
    font-weight: 600;
}

.favorites-summary .alerte-label {
    font-size: 1rem;
    font-weight: 600;
    color: #ff9900;
}

.alerts-del {
    width: 200px;
}

.alerts-del a {
    line-height: 15px;
    display: block;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 8px 0;
}

.alerts-del a:first-child {
    border-top: none;
}

.delalert,
.delfavorite {
    line-height: 18px;
    display: block;
    text-align: center;
}

/* PAGE AMIS */
.amis-bk h6 {
    text-align: center;

}

/* PAGE VENTES PRIVEES */
.cname,
.vpcategorielist .cid{
    cursor: pointer;
}

.vpcategorielist-alert.alert-info a {
    color: #000;
    font-weight: 600;
    justify-content: center;
    display: flex;
}

.add_cart_btn.critique-reponse {
    height: 28px;
    line-height: 16px;
    cursor: pointer;
}

/* PAGE SCAN */
.sell-title {
    font-size: 1.2rem;
    color: red;
}
.sell-subtitle {
    font-size: 0.9rem;
    font-weight: 600;
}


.price_valid {
    border-right:none;
}

.price_valid-append {
    border: 1px solid #ced4da;
    border-left:none;
    border-radius: 0 .25rem  .25rem 0;
    font-size: 1rem;
}

.price_valid-append .input-group-text {
    padding-right: 0.25rem;
}

.sell-notice {
    line-height: 1.5;
}
/* PAGE INVENTAIRE */
td.transaction {
    font-size: 1.5rem;
}

td.transaction i {
    margin: 0 5px;
    color: #a0c63b;
}

.inv-description {
    word-break: break-all;
}

#upd-description {
    min-height: 120px;
}

#bookrecap > .d-flex{
    max-width: 12%;
}
#bookrecap .media-body{
    padding: 10px;
}
#bookrecap .media-body h4{
    font-size: 1.2rem;
}

.inventory-action {
    cursor: pointer;
    font-size: 1rem;
}
.modify-book {
    width : 250px;
    /* text-align: center;*/
}
.inventory-action .fa-trash{
    color:red;
}

.inventory-action .fa-check{
    color:#a0c63b;
}

.inventory-action .fa-times{
    color:#f79c07;
}



.card-alert {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF7EA;
    background-clip: border-box;
    border: 1px solid #F79C07;
    border-radius: .25rem;
}

hr.dashed {
    border-top: 2px dashed #999;
}

hr.dotted {
    border-top: 2px dotted #999;
}

hr.solid {
    border-top: 2px solid #999;
}

/* PAGE MES VENTES */
td.sellaction {
    width : 192px;
}

.btn.btn-primary.sellsction-btn {
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.btn-primary.sellsction-btn.valid {
    background: #A0C63B;
    border: 1px solid #A0C63B;
}

.btn.btn-primary.sellsction-btn.refuse {
    background: #f8d7da;
    border: 1px solid #f8d7da;
    color: #721c24;
}

.vertKiwi {
    color: #A3C822;
}
.letter-spacing3 {
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 150%;
}



.checkout_btn_orange {
    background: #f2931a;
    border: 1px solid #f2931a;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 19px;
    line-height: 54px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border-radius:4px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.checkout_btn {
    border-radius:4px;
}
.checkout_btn_orange:hover {
    /*border: 1px solid #f2931a;
    background: #e1830d;*/
    border: 1px solid #000000;
    background: #000000;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* Recuperation Jimmy*/
.section_title {
    margin: 45px 0 20px 0;
    width: 100%; }
.section_title h1 {
    padding: 0 30px 0 30px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #464b51;
    position: relative; }
.section_title h1:before {
    position: absolute;
    content: '';
    display: block;
    left: -50px;
    top: 50%;
    width: 50px;
    height: 2px;
    background: #464b51; }
.section_title h1:after {
    position: absolute;
    content: '';
    display: block;
    right: -50px;
    top: 50%;
    width: 50px;
    height: 2px;
    background: #464b51; }

.steps_process {
    margin: 0 0 12px 0; }
.steps_process .step_num {
    width: 64px;
    height: 64px;
    font-size: 1.8rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
    background: #f2931a;
    color: #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12); }
.steps_process .step_num_green {
    width: 64px;
    height: 64px;
    font-size: 1.8rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 800;
    background: #A2C61E;
    color: #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12); }
.steps_process .step_card {
    padding: 50px 8px 15px 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-top: 4px solid #e0e0e0;
    background: #ffffff;
    color: #3a4752;
    font-size: .76rem;
    line-height: 1.2rem;
    letter-spacing: .6px; }
@media (max-width: 768px) {
    .steps_process .step_card {
        margin-bottom: 45px; } }
.steps_process .step_card i {
    color: #3a4752;
    width: 100%;
    font-size: 4rem;
    text-align: center; }
.steps_process a {
    text-decoration: underline; }

.block_info li {
    list-style-type: circle;
    margin-left: 25px;
}

.invalidfield {
    font-weight: 600;
    color:red;
}