<div class="container">
    <div class="col-lg-12">
        <div class="header-search-block">
            <input type="text" placeholder="Rechercher un livre" >
            <button>Chercher</button>
        </div>
        <div style="display:flex;">
            <div class="header-search-block col-3">
                <select>
                    <option>Catégories<option>
                </select>
            </div>
            <div class="header-search-block col-3">
                <select>
                    <option>Auteur<option>
                </select>
            </div>
            <div class="header-search-block col-2">
                <select>
                    <option>Année<option>
                </select>
            </div>
            <div class="header-search-block col-2">
                <input type="number" placeholder="prix min">
            </div>
            <div class="header-search-block col-2">
                <input type="number" placeholder="prix max">
            </div>
        </div>
    </div>
    <br/>
    <div class="shop-product-wrap with-pagination row space-db--30 shop-border grid-four">
        <div *ngFor="let livre of livres" class="col-lg-4 col-sm-6">
            <div class="product-card">
                <div class="product-grid-content">
                    <div class="product-header">
                        <a href="" class="author">
                            {{livre.auteur}}
                        </a>
                        <h3><a href="product-details.html">{{livre.nom}}</a></h3>
                    </div>
                    <div class="product-card--body">
                        <div class="card-image">
                            <img src="{{livre.img}}" alt="">
                            <div class="hover-contents">
                                <a href="product-details.html" class="hover-image">
                                    <!-- <img src="../../assets/image/products/product-1.jpg" alt=""> -->
                                </a>
                                <div class="hover-btns">
                                    <a href="cart.html" class="single-btn">
                                        <i class="fas fa-shopping-basket"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target=""
                                        class="single-btn">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="price-block">
                            <span class="price">{{livre.prix}}€</span>
                            <del class="price-old">{{livre.prix+ 10}}€</del>
                            <span class="price-discount">20% {{npages}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row pt--30">
            <div class="col-md-12">
                <div class="pagination-block">
                    <ul class="pagination-btns flex-center">
                        <!-- <li><a class="single-btn prev-btn ">|<i class="zmdi zmdi-chevron-left"></i> </a></li> -->
                        <li><a (click)="goToPrevPage()" class="single-btn prev-btn "><i class="zmdi zmdi-chevron-left"></i> </a>
                        </li>

                        <li *ngFor='let in of counter(npages) ; let i = index' [ngClass]="{'active':(i+1 == page), '': !(i+1 == page) }"><a class="single-btn" (click)="goToPage(i+1)">
                            {{i+1}}</a>
                        </li>
                        <li><a (click)="goToNextPage()" class="single-btn next-btn"><i class="zmdi zmdi-chevron-right"></i></a>
                        </li>
                        <!-- <li><a href="" class="single-btn next-btn"><i class="zmdi zmdi-chevron-right"></i>|</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>